<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title m-b-0">List Of Trades</h1>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">S.NO</th>
                            <th scope="col">Trade ID</th>
                            <th scope="col">Trade Amount</th>
                            <th scope="col">Trade Date</th>
                            <th scope="col">BuyOrder ID</th>
                            <th scope="col">SellOrder ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>DBS001</td>
                            <td>500000</td>
                            <td>23-05-2021</td>
                            <td>DBS501</td>
                            <td>DBS502</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>DBS002</td>
                            <td>3700000</td>
                            <td>03-05-2021</td>
                            <td>DBS522</td>
                            <td>DBS538</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>DBS0028</td>
                            <td>6676T873</td>
                            <td>20-07-2021</td>
                            <td>DBS571</td>
                            <td>DBS592</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>